/* ---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------------- */

.topic {
    margin: 10px;
    padding: 5px;
    /*background-color: #e8f3e8;*/
    /*border: 1px solid #b9b2ca;*/
    /*border-bottom: 1px solid #b9b2ca;*/

    background-color: #f0f7f9;
    border: 1px solid #b9b2ca;

}

.topic > a {
    color: blue;
}

.topicbody {
    /*
    font-size: 90%;
    padding-top: 2px;
    padding-bottom: 2px;
       */

    font-size: 80%;
    padding: 10px;

    border-top: 1px solid #b9b2ca;
    background-color: white;

    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;

}

.topic-info {
    font-size: 80%;
    color: gray;
}

