/* wiki.css */

.wiki-page-menu { text-align: right; }

.wiki-page-menu > ul {
    font-size: 80%;
    margin: 0;
    padding: 0;
}

.wiki-page-menu > ul > li {
    display: inline;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    margin-right: 0.2em;
}

