<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
	<head >
      	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Common Lisp,lisp,лисп" />

        <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="chrome://theme/css/style.css" />
        <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="chrome://theme/css/colorize.css" />
	</head>

	<body>
        <div class="top">
          <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="chrome://auth/info-panel" />
        </div>

        <div id="caution">
            <img alt="Lisp — программируемый язык программирования" src="/image/gecko.png" />
        </div>

        <div id="mainmenu">
          <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="chrome://mainmenu" />
        </div>

        <div id="content" />

        <div class="bottom">@2009 lisper.ru</div>
    </body>
</html>
