// -*- mode: closure-template-html -*-
// rulisp.tmpl

{namespace rulisp.view.fine}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Main template
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template main-frame}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    {\n}
    <html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
	    <head>
      	    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="keywords" content="Common Lisp,lisp,лисп" />

            {if $title}
                <title>{$title}</title>
            {/if}

            {foreach $item in $css}
                <link href="{$item}" rel="stylesheet" type="text/css" />
            {/foreach}
	    </head>

	    <body>
            <div class="top">
                {if $user}
                    <div id="login">
                        <strong>{$user}</strong> |
                        <a href="/profile">Настройки</a> |
                        <a href="/logout" id="logout">Выйти</a>
                    </div>
                {else}
                    <div id="login">
                        <a href="/register">Регистрация</a> |
                        <a href="/login?done={$callback}">Войти</a>
                    </div>
                {/if}
            </div>

            <div id="caution">
                <img alt="Lisp — программируемый язык программирования" src="/image/gecko.png" />
            </div>

            <div id="mainmenu">
                <ul>
                    {foreach $item in $mainMenu}
                        <li>
                            <a href="{$item.href}">{$item.name}</a>
                        </li>
                    {/foreach}
                </ul>
            </div>

            <div id="content">
                {$content |noAutoescape}
            </div>

            <div class="bottom">@2009 lisper.ru</div>
        </body>
    </html>
{/template}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * PCL
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

{template pcl-main}
    <p>
        Это перевод на русский язык замечательной книги
        <a href="http://www.gigamonkeys.com/book/">Practical Common Lisp</a>.
        Основная работа над переводом ведётся <a href="http://pcl.catap.ru/">здесь</a>.
        <br />
        <strong>ОСТОРОЖНО!</strong>
        Этот сервис основан на ещё не отлаженном коде по парсингу и отображению
        <a href="http://www.dokuwiki.org/ru:dokuwiki">dokuwiki</a>-страниц,
        если Вы хотите быть уверены в точности отображения содержимого -
        обратитесь к <a href="http://pcl.catap.ru/">источнику</a> перевода
    </p>

    <p>
        <a href="{$pdfHref}" class="pdf-link">PDF-версия</a>
    </p>

    <img src="{$jpgHref}" alt="PCL" style="float: right" />

    <ol>
        {foreach $chapter in $chapters}
            <li>
                <a href="{$chapter.href}">{$chapter.title}</a>
            </li>
        {/foreach}
    </ol>
{/template}

{template pcl-navigation-bar}
    <table width="100%">
        <tbody>
            <tr>
                <td width="20%" align="left">
                    {if $prev}
                        <a href="{$prev}">Предыдущая</a>
                    {/if}
                </td>

                <td width="60%" align="center">
                    <a href="{$menu}">Оглавление</a>
                </td>

                <td width="20%" align="right">
                    {if $next}
                        <a href="{$next}">Следующая</a>
                    {/if}
                </td>
            </tr>
        </tbody>
    </table>
{/template}

{template pcl-chapter-view}
    {call pcl-navigation-bar data="all" /}
    {$content |noAutoescape}
    {call pcl-navigation-bar data="all" /}
{/template}
