/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*   style.css
*/

body {
    margin: 0;
    padding: 0;
    /*font-family: verdana, arial;*/
    font-family: "Helvetica Neue",Arial,sans-serif;
    /*font-size: 1.6em;*/
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*   .top
*/
   
.top {
    margin-top: 0;
    padding-top: 0;
    height: 27px;
    /*border-bottom: 1px solid black;*/
    padding-left: 40px;
    background: #d48d66 url('image/logo80x27.png') no-repeat;

    font-size: 90%;
}

#friends {
    margin: 0;
    margin-left: 20px;
    padding-top: 3px;
    /*padding-bottom: 0;*/
}

.top li {
    display: inline;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    padding-right: 5px;
    font-weight: bold;
}

.top a {

    color: #242eea;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*   .bottom
*/

.bottom {
    font-size: 90%;
    color: gray;
    text-align: center;
    margin: 10px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*  #login
*/

#login {
    float: right;
    margin-top: 3px;
    margin-right: 5px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*   #mainmenu
*/

#mainmenu {
    margin: 0;
    padding: 0;
    background-color: #f4f5d8;
    font-size: 130%;
    padding: 20px;
    border: 1px solid #D0D0D0;
}

#mainmenu > ul {
    margin: 0;
    padding: 0;
}

#mainmenu li {
    display: inline;
    list-style-type: none;
    list-style-position: outside;
    list-style-image: none;
    padding-left: 10px;
}

#mainmenu a { 
    color: #c3454f;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*   #content
*/

#content {
    margin: 20px;
}

#content h4 {
    margin: 10px 0 5px;
}

#content h5 {
    margin: 10px 0 0;
}

#content li {
    padding: 5px 0;
}

#content blockquote {
    font-style: italic;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*   .code
*/

.code {
    background-color: #eeeeee;
    border: 1px solid #d0d0d0;
    /*font-size: 110%;*/
    margin: 5px;
    padding: 10px;

    font-family: "Courier New", monospace;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* articles
*/

.articles li {
    margin-bottom: 10px;
}

.articles a {
    font-weight: bold;
    color: #6a5eab;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* login-form
*/

.login-form {
    padding: 2px;
    font-size: 90%;
    font-weight: normal;

    border: 1px solid #D0D0D0;

    /*float: right;*/
    display: table;
    /*
    position: relative;
    left: 70%;
       */
}

.login-form > table {
    padding: 10px;
}

.login-form td {
    width: 100px;
}

.login-form tr > td:first-child {
    text-align: right;
    font-weight: bold;
    width: auto;
}

.login-form > table td {
    padding-right: 5px;
    padding-top: 3px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* login-form
*/

.register-form {
    border: 1px solid #d0d0d0;
    display: table;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 20px;
}

.register-form td {
    padding-bottom: 20px;
}

.register-form tr > td:first-child {
    vertical-align: top;
    font-weight: bold;
    font-size: 90%;
    
}


.register-form .info {
    color: gray;
    font-size: 80%;
}

.register-form input[type=button] {
    margin-top: 10px;
}

.register-form .error-info {
    color: red;
    font-size: 80%;
}