/* colorize.css */

.symbol { color : #770055; background-color : transparent; border: 0px; margin: 0px;}

a.symbol:link  { color : #229955; background-color : transparent; text-decoration: none; border: 0px; margin: 0px; }
a.symbol:active { color : #229955; background-color : transparent; text-decoration: none;  border: 0px; margin: 0px; }
a.symbol:visited { color : #229955; background-color : transparent; text-decoration: none;  border: 0px; margin: 0px; }
a.symbol:hover { color : #229955; background-color : transparent;  text-decoration: none;  border: 0px; margin: 0px; }


.special { color : #FF5000; background-color : inherit; }
.keyword { color : #770000; background-color : inherit; }
.comment { color : #007777; background-color : inherit; }
.string { color : #777777; background-color : inherit; }
.character { color : #0055AA; background-color : inherit; }
.syntaxerror { color : #FF0000; background-color : inherit; }

/*
span.paren1:hover { color : inherit; background-color : #BAFFFF; }
span.paren2:hover { color : inherit; background-color : #FFCACA; }
span.paren3:hover { color : inherit; background-color : #FFFFBA; }
span.paren4:hover { color : inherit; background-color : #CACAFF; }
span.paren5:hover { color : inherit; background-color : #CAFFCA; }
span.paren6:hover { color : inherit; background-color : #FFBAFF; }
*/

/* .colorize-top-menu { padding-left: 0; padding-bottom: 0.2em; margin: 0;  border-bottom: 1px solid gray;} */

/* .colorize-top-menu li {display: inline; list-style-type: none; margin-right: 0.3em;} */

/*.colorize-list-nav {text-align: right; padding: 0.2em; margin-bottom: 0.2em; border-bottom: 1px solid gray; } */

/*
.paste { margin: 0.5em;}
.info { font-size: 90%; color: gray; }
*/

.colorize-top-menu {
    padding: 3px;
    border-bottom: 1px solid #b9b2ca;
    margin-bottom: 5px;
}

.colorize-top-menu ul {
    margin: 0;
    padding: 0;
}

.colorize-top-menu li {
    display: inline;
    list-style-type: none;
    margin-right: 0.5em;
}

.colorize-top-menu a {
    color: #6A5EAB;
}

.colorize-list-nav {
    text-align: right;
    color: gray;
    font-size: 80%;
    padding: 0.2em;
    margin-bottom: 0.2em;
    border-bottom: 1px solid #b9b2ca;
 }

.paste {
    margin-top: 10px;
    margin-bottom: 10px;
}

.paste > a {
    font-size: 110%;
    color: #6A5EAB;
}

.paste .info {
    font-size: 90%;
}

.paste-detail { margin-top: 0.5em; }