/* planet.css */

.entry {
    margin-bottom: 10px;
    padding: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #d0d0d0;
}

.entry-title {
    font-size: 140%;
    padding: 10px;
}

.entry-title a {
    font-weight: normal;
    color: #6a5eab;
    text-decoration: none;
}

.entry-title a:hover {
    text-decoration: underline;
}

.entry-author-info {
    margin-top: 3px;
    font-size: 13px;
    color: gray;
}

.entry-content {
    /*background-color: white;*/
    padding-left: 10px;
}

.entry-content pre {
    background-color: #eeeeee;
    border: 1px solid #d0d0d0;
    padding: 10px;
}

#planet-body {
    margin-top: 0;
    padding-top: 0;
    position: relative;
}

#planet-content {
    margin-right: 210px;
}

#planet-info-panel {
    border-left: 1px solid #d0d0d0;
    position: absolute;
    right: 0;
    top: 0;
    width: 180px;
    height: 100%;

    padding-left: 15px;

    color: #6a5eab;
}

#syndicate {
    background-image: url(/image/feed-icon-14x14.png);
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-bottom: 10px;
}

#planet-info-panel ul {
    list-style-image: url(/image/feed-icon-10x10.png);
    margin-left: 15px;
    padding: 0;
}

#authors a {
    color: #6a5eab;
    text-decoration: none;
}