<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="ru" xml:lang="ru">
	<head >
      	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

		<link href="/css/style.css" rel="stylesheet" type="text/css" />
        <link href="/css/colorize.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
        <div class="top">
            <xi:include xmlns:xi="http://www.w3.org/2001/XInclude" href="chrome://auth/info-panel" />

            <!--
            <ul id="friends">
                <li>common.lisp.ru</li>
                <li><a href="http://scheme.lisp.ru">scheme.lisp.ru</a></li>
            </ul>
            -->
        </div>

        <div id="mainmenu">
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/articles/">Статьи</a></li>
                <li><a href="/planet/">Планета</a></li>
                <li><a href="/forum/">Форум</a></li>
            </ul>
        </div>

        <div id="content" />

        <div class="bottom">@2009 lisper.ru</div>
    </body>
</html>
